*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
}

.navbar-nav{
    background-color: black;
    color: #8d9296;
    height: 60px;
}


.navbar-nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-nav ul li{
    padding: 10px;
    font-size:  25px;
    list-style: none;
    cursor: pointer;
}

.navbar-nav ul li a{
    color: white;
}


.container{
    height: 100vh;
}

h3{
    margin:40px 0;
    font-size: 50px;
}

.form-group label{
    font-size: 25px;
}

button{
    width: 110px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    user-select: none;
}

button:hover{
    transition: 0.5s;
    color: green;
}

#Rodape{
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}

#Rodape p{
    font-size: 20px;
}

#Rodape p{
    font-size: 20px;
}

@media (max-width: 480px){
    .navbar-nav ul{
        align-items: center;
        justify-content: center;
    }
    .navbar-nav ul li{
        font-size: 22px;
    }
    h3{
        font-size: 35px;
    }
    .form-group label{
        font-size: 20px;
    }
    button{
        font-size: 18px;
    }
}